@charset "UTF-8";

body{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div{
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 450px;
}

button{
  height: 35px;
  margin: 5px;
  width: 200px;
}

#btns_1{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#btns_2{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
