@charset "UTF-8";

body{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header{
  align-items: center;
  display: flex;
  font-family: arial;
  flex-direction: column;
  justify-content: space-around;
}

.botoes{
  background-color: coral;
  border: none;
  margin-top: 10px;
  padding: 10px;
}
