@charset "UTF-8";

*{
  border: none;
  box-sizing: border-box;
  font-family: 'Baloo 2', cursive;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  background-color: orange;
}

h1, h2{
  padding: 10px;
}

a{
  color: white;
}

i{
  color: white;
}

#topo, #banner, #corpo, #inscrevase, #rodape{
  float: left;
}

#topo{
  background-color: white;
  width: 100%;
}
#topo a{
  color: white;
  font-size: 0.8em;
}
#logo{
  background-image: url(../img/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  height: 70px;
  float: left;
  width: 70px;
}
#btn_menu{
  background-color: darkorange;
  border-radius: 10px;
  float: right;
  height: 50px;
  margin-right: 5px;
  margin-top: 5px;
  width: 50px;
}
#menu{
  background-color: rgba(255, 140, 0, 0.9);
  height: 0%;
  overflow: hidden;
  position: fixed;
  transition: 0.5;
  width: 100%;
}
#menu:target{
  height: 100%;
}
#btn_fechar{
  float: right;
  font-size: 3.5em;
  font-weight: 900;
  margin-right: 27px;
  margin-top: 20px;
}
#menu ul{
  height: 100%;
  float: left;
  text-align: center;
  width: 100%;
}
#menu ul li{
  font-size: 1.4em;
  padding: 3%;
  transition: 0.2;
}
#menu ul li:hover{
  background-color: rgba(255, 255, 255, 0.3);
}

#banner{
  background-image: url(../img/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 0.9em;
  text-align: center;
  text-shadow: 0.5px 0px 1px #000000;
  width: 100%;
}
#banner h1{
  font-size: 1.8em;
}
#banner button{
  align-items: center;
  border-radius: 7px;
  display: flex;
  color: darkorange;
  justify-content: space-between;
  font-size: 1.2em;
  height: 30px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  width: 45%;
}
#banner i{
  animation: gira 5s infinite;
  color: darkorange;
}
#botoes{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#corpo{
  padding: 3% 4%;
  width: 100%;
}
.conteudo{
  background-color: white;
  border-radius: 7px;
  font-size: 0.7em;
  margin-bottom: 3%;
  text-align: center;
  width: 100%;
}
#corpo h3{
  font-size: 1.7em;
  margin-top: 20px;
  text-align: center;
}
#corpo img{
  border-radius: 7px 7px 0 0;
  max-width: 100%;
}
#corpo span p{
  font-size: 1.4em;
  padding: 5%;
}

#inscrevase{
  color: white;
  font-size: 0.9em;
  text-align: center;
  text-shadow: 0.5px 0px 1px #000000;
  width: 100%;
}
#inscrevase form input,button{
  border-radius: 7px;
  color: darkorange;
  height: 40px;
  margin: 1%;
  width: 98%;
}
#inscrevase input::placeholder{
  color: darkorange;
  font-size: 0.9em;
  padding: 10px;
}
#inscrevase button{
  background-color: darkorange;
  box-shadow: 0px 0px 3px #FFFFFF;
  color: white;
  font-size: 1.2em;
}

#rodape{
  background-color: chocolate;
  color: white;
  font-size: 0.9em;
  padding: 3% 4%;
  text-align: center;
  text-shadow: 0.5px 0px 1px #000000;
  width: 100%;
}
#rodape #redes_socias a{
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.7em;
  margin-right: 3%;
  transition: 0.2s;
  text-shadow: none;
}
#rodape #redes_socias a:hover{
  color: rgba(255, 255, 255, 1);
}
#rodape p{
  margin-top: 10px;
}

@keyframes gira{
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(360deg);
  }
}

@media screen and (min-width:400px){
  #banner h1{
    font-size: 2em;
  }

  #corpo h3{
    font-size: 2em;
  }
  #corpo span p{
    font-size: 1.6em;
  }

  #inscrevase{
    font-size: 1.2em;
  }
  #inscrevase form input,button{
    font-size: 0.9em;
  }
  #inscrevase button{
    font-size: 1em;
  }

  #rodape #redes_socias a{
    font-size: 2.3em;
  }
  #rodape p{
    font-size: 1.1em;
  }
}

@media screen and (min-width:768px){
  #logo{
    background-image: url(../img/logo4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
    height: 120px;
    float: left;
    margin-left: 100px;
    width: 200px;
  }

  #btn_menu{
    margin-right: 5px;
    margin-top: 30px;
  }

  #banner h1{
    font-size: 2.3em;
  }

  #corpo h3{
    font-size: 2em;
  }
  #corpo span p{
    font-size: 1.8em;
  }

  #inscrevase{
    font-size: 1.5em;
  }
  #inscrevase form input,button{
    font-size: 1.1em;
  }
  #inscrevase button{
    font-size: 1.2em;
  }

  #rodape #redes_socias a{
    font-size: 2.6em;
  }
  #rodape p{
    font-size: 1.3em;
  }
}

@media screen and (min-width:1024px){
  #btn_menu, #btn_fechar{
    display: none;
  }
  #menu{
    background: none;
    float: right;
    height: 120px;
    position: relative;
    transition: none;
    width: 65%;
  }
  #menu ul{
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 1.1em;
  }
  #menu ul li a{
    color: darkorange;
  }

  #banner{
    display: flex;
  }
  #banner button{
    height: 50px;
    width: 70%;
  }
  #conteudo_banner{
    width: 60%;
  }
  #botoes{
    align-items: center;
    flex-direction: column;
    width: 40%;
  }

  #corpo{
    display: flex;
  }
  #corpo .conteudo{
    margin-left: 10px;
  }
  #corpo h3{
    font-size: 2em;
    padding: 0.4%;
  }
  #corpo span p{
    font-size: 1.2em;
    text-align: justify;
    text-indent: 30px;
  }

  #inscrevase{
    margin-top: -50px;
    display: flex;
  }
  #inscrevase div, form{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%
    justify-content: flex-start;
    width: 50%;
  }
  #inscrevase div{
    justify-content: flex-start;
  }
  #inscrevase form input, button{
    width: 80%;
  }

  #rodape p{
    font-size: 1.6em;
  }
}
